.LoginWindow
{
	border-style:solid;
	border-width:2px;
	background-color:#b0c4de;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	height: 150px;
	width: 150px;
}
.ContactWindow
{
        background-color:#b0cfde;
	position:relative;
}
.ContactList
{
	background-color:#d0d4de;
	display:block;
	position: absolute;
	bottom: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 90%;

}
.ContactEntry
{
	background-color: #F8F8F8;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
	width: 95%;
}
.MsgBox
{
	background-color:#fff;
}
.DialogWindow
{
	background-color:#b0c4de;
	position: fixed;
        left: 40%;
	margin-left: -200px;
}
.DialogWindowTargetInfo
{
	margin-left: auto;
        margin-right: auto;
}
.DialogWindowTextArea
{
	display:block;
	resize: none;
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
}
.DialogWindowChatHistoryScroll
{

	margin-left: auto;
	margin-right: auto;
	background-color:#FFFFF2;
}
.DialogWindowChatHistory
{
	width:100%;
	background-color:#f0f0f0;
}
.ChatHistoryEntryMine
{	
	background-color:#F6F9ED;
	word-wrap: break-word;
}
.ChatHistoryEntryTarget
{
	background-color:#A6F9ED;
	word-wrap: break-word;
}
