pre
{
	margin: 0 0;
	font-family: helvetica, arial, sans-serif;
}
.LoginWindow
{
	border-style:solid;
	border-width:2px;
	background-color:#b0c4de;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	height: 150px;
	width: 150px;
}
.Wt-stack
{
	height: calc(100% - 35px);
}
.ContactWindow
{
	width:200px;
	height:500px;
        background-color:#b0cfde;
	position:relative;
}
.ContactList
{
	background-color:#d0d4de;
	display:block;
	top: 15%;
	position: absolute;
	left: 2.5%;
	width: 95%;
	height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
}
.ContactEntry
{
	background-color: #F8F8F8;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
	width: 100%;
	word-wrap: break-word;
}
.Highlighted
{
	background-color: #3399FF
}
.Highlighted span
{
	color:#fff
}
.MsgBox
{
	background-color:#fff;
}
.DialogWindowHolder
{
	z-index:10;
	position: absolute;
	left: 40%;
	min-width:300px;
	min-height:400px;
}
.DraggableDiv
{
	position: absolute;
	font-size: 0.1px;
	display:block;
	cursor: move;
	right: 20px;
	bottom: 1px;
	background-position: -0px -80px;
	background-image: url(images/ui-icons_222222_256x240.png);
	z-index:90;
	width: 16px;
	height: 16px;
}
.DialogWindow
{
	background-color:#b0c4de;
	height: 100%
}
.DialogWindowMenuItemTyping a
{
	color: #FFCC33;
}
.DialogWindowMenuItemGotMsg a
{
	color: #FF3333;
}
.DialogWindowTargetInfo
{
	margin-left: auto;
        margin-right: auto;
}
.DialogWindowTextArea
{
	display:block;
	resize: none;
    	width: calc(100% - 35px);
	height: 82px;
    	margin-left: auto;
    	margin-right: auto;
}
.DialogWindowChatHistoryScroll
{

	margin-left: auto;
	margin-right: auto;
	height: calc(100% - 135px);
	width: calc(100% - 30px);
	background-color:#f0f0f0;
}
.DialogWindowChatHistory
{
	width:100%;
	background-color:#f0f0f0;
	table-layout:fixed;
}
.FirstHistoryEntry
{
	background-color:#FF0000;
	height: 50px;
}
.ChatHistoryEntryMine
{	
	background-color:#F6F9ED;
	word-wrap: break-word;
}
.ChatHistoryEntryTarget
{
	background-color:#A6F9ED;
	word-wrap: break-word;
}
.ChatHistoryNick
{
	font-size: small;
	color: #888888;
}
.ChatHistoryTimeStamp
{
	float: right;
	font-size: small;
	color: #888888;
}
